[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
flask-caching = "*"
flask-sqlalchemy = "*"
funcy = "*"
"psycopg2" = "*"
redis = "*"
scrapy = "*"
unidecode = "*"
gunicorn = "*"
gevent = "*"
requests = "*"
celery-redbeat = "*"
sqlalchemy = "*"
murmurhash = "==1.0.0"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.6"
