[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
flask-caching = "*"
flask-sqlalchemy = "*"
funcy = "*"
"psycopg2" = "*"
redis = "==2.10.6"
scrapy = "*"
unidecode = "*"
gunicorn = "*"
gevent = "*"
requests = "*"
celery-redbeat = "*"
sqlalchemy = "*"
scrapy-proxies = "*"
flower = "*"
scipy = "==0.19.0"
scikit-learn = "==0.18.1"
numpy = "==1.13.0"

[dev-packages]

[requires]
python_version = "3.6"
