[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
flask-caching = "*"
flask-sqlalchemy = "*"
funcy = "*"
"psycopg2" = "*"
redis = "==2.10.6"
scrapy = "*"
unidecode = "*"
gunicorn = "*"
gevent = "*"
requests = "*"
celery-redbeat = "*"
sqlalchemy = "*"
scrapy-proxies = "*"
flower = "*"
joblib = "==0.11"
numpy = "*"
scipy = "*"
scikit-learn = "*"
python-levenshtein = "==0.12.0"
fuzzywuzzy = "*"

[dev-packages]

[requires]
python_version = "3.6"
